.login {
  background-color: #ffffff;

  &-header {
    align-items: center;
    color: rgb(92, 162, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width:50%;
    margin: auto;

    &-wrapper {
      text-align: center;
      
      h1.ant-typography {
        color: rgb(92, 162, 253);
      }
    }
  }

  &-footer {
    color: rgb(92, 162, 253);
    padding: 16px 0;
    text-align: center;

    a {
      color: inherit;
    }
  }
}
